.create-podcast-container {
  width: 50%;
  margin: auto;
  margin-bottom: 4rem;
  padding: 20px;
  background-color: #fcfcfc;
  border-radius: 10px;
  border: 1px solid grey;
  /* background-color: #1b1b1b; */
  /* box-shadow: 0 0 5px 0 rgb(222, 223, 224); */
}

.create-podcast-selected-container {
  width: 50%;
}

@media only screen and (max-width: 1000px) {
  .create-podcast-container {
    width: 70%;
    margin: auto;
    margin-left: 120px;
  }

  .create-podcast-selected-container {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .create-podcast-container {
    width: 90%;
    margin: auto;
  }
}
