.create-podcast-container {
  width: 40%;
  margin: auto;
  margin-bottom: 4rem;
  padding: 20px;
  background-color: #1b1b1b;
  border-radius: 15px;
  /* border: 1px solid #fff; */
  /* background-color: #1b1b1b; */
  /* box-shadow: 0 0 5px 0 rgb(11, 12, 12); */
}

.create-podcast-selected-container {
  width: 50%;
}

@media only screen and (max-width: 1000px) {
  .create-podcast-container {
    width: 70%;
    margin: auto;
    margin-left: 120px;
  }

  .create-podcast-selected-container {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .create-podcast-container {
    width: 80%;
    margin: auto;
  }
}
