.flash-message {
	width: 100%;
	height: 3em;
	background-color: red;
	color: #fff;
	position: fixed;
	top: 0;
	vertical-align: middle;
}

.flash-error-message {
	/* -ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
    transform: translateY(-50%); */
	vertical-align: middle;
	line-height: 3em; /* The same as your div height */
	margin-left: 10px;
}
