.website-settings {
	width: 60%;
	margin: auto;
}

@media only screen and (max-width: 1000px) {
	.website-settings {
		width: 90%;
		margin: auto;
	}
}

@media only screen and (max-width: 600px) {
	.website-settings {
		width: 95%;
		margin: auto;
	}
}
