.textarea-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

textarea {
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  background-color: #242424;
  border: none;
  margin-top: 10px;
  color: #fff;
}

textarea:focus {
  outline: none;
  border: 1px solid #1058bf !important;
}

.textarea-dark:focus {
  border: none !important;
}

.label {
  font-size: 16px;
}
